*{
    box-sizing: border-box;
}
:root{
    --header-bg:#10375C;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* ============================commen============================= */
.section-heading{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.control{
    display: flex;
    column-gap: 18px;
    align-items: center;
    
}
.dentist__btnn{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #575F66;
    background: #FFF;
    cursor: pointer;
    transition: 0.25s;
}

.next{
    rotate: 180deg;
}

.dentist__btnn:hover{
    background: #2E80CE;
    border-color: #2E80CE;
    color: #FFF;
}

.section-desc{
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6; /* 166.667% */
}
.hero__content{
    width: 44%;
}
.hero__media{
    width: 56%;
}

.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background:#2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 999px;
}
.btn:hover{
    opacity: 0.9;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
/*========================================= header============================ */
.header{
    background: var(--header-bg);
    padding-top: 30px;
    min-height: 100vh;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    display: flex;
}
.action__login,
.navbar__link{
    padding:8px 21px;
    color: #C9D2DA;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar__link--active{
   text-shadow: 1px 0 0 currentColor;
   color: #fff;
}
.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    right: 8px;
    top: -3px;
}

.action__signup{
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}
.action__login{
    margin-right: 7px;
}

/* ====================================hero================= */
.hero{
    display: flex;
    padding-top: 76px;
    justify-content: center;
    align-items: center;
}
.hero__heading{
    color: #FFF;
font-size: 7rem;
font-style: normal;
font-weight: 600;
line-height: 1.14; /* 114.286% */
letter-spacing: -1.4px;
}
.hero__desc{
    color: #C9D2DA;
margin-top: 22px;
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: 1.66; /* 166.667% */
}
.hero__row{
    margin-top: 38px;
    display: flex;
     column-gap: 38px;
    align-items: center;
}
.hero__phone{
    color: #FFF;
text-align: center;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 1.66; /* 166.667% */
}

.hero__images{
    display: flex;
    align-items: center;justify-content: flex-end;
}
.hero__img{
    border-radius: 6px;
    object-fit: cover;
}
.hero__img--lagre{
    width: 330px;
height: 540px;
margin-right: -6px;
z-index: 1;
}

.hero__img--small{
    width: 210px;
height: 410px;
}
/* ==========================service================== */
.service{
    padding: 170px 0;
    background: #fff;
}
 
.service__heading , .service__desc{
    text-align: center;
}

.service__desc{
    width: 468px;
    margin: 18px auto 0;
}

.service__row{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img{
    width: 570px;
height: 570px;
border-radius: 12px;
object-fit: cover;
}

.service-item{
    padding: 21px;
    display: flex;
    width: 470px;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
}

.service-item:hover{
   position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon{
    color: #FFF;
    background: #2E80CE;
}

.service-item__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EFF6FD;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 19px;
    transition: 0.25s;
}
.service-item__heading{
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc{
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.78; /* 175% */
}

.btn-service{
    margin-top: 55px;
}

/* ====================work==================== */
.work{
    background: #F6FBFF;
    padding: 100px 0;
}

.work__desc{
    margin-top: 18px;
    width: 468px;
}

.work-list{
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.work-item{
    padding: 43px;
    border-radius: 4px;
    background: #FFF;
    cursor: pointer;
    border: 16px solid #EAF6FF;
}

.work-item:hover{
    border-color:  #2E80CE;
    transform: translateY(-16px);
    color: #2E80CE;
}

.work-item__heading{
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
    margin-top: 18px;
}

.work-item__desc{
    color: #575F66;
    margin-top: 28px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__more{
    color: #575F66;
    display: inline-block;
    margin-top: 18px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__more:hover{
    color: #2E80CE;
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}


/* =======================take=================== */
.take{
    margin-top: 170px;
}

.take-take{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.take-img{
    display: flex;
    position: relative;
}

.img__1{
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.img__2{
    width: 332px;
    height: 370px;
    object-fit: cover;
    position: absolute;
    left: 238px;
    top: 121px;
    border-radius: 6px;

}

.take-desc{
   padding: 82px 160px 0px;
}

.take__desc{
    color: #575F66;
    width: 468px;
    margin-top: 18px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}

.take__learn{
    margin-top: 38px;
}


/* =================dentist================= */

.dentist{
    margin-top: 300px;
    text-align: center;
}

.dentist-list__img{
    width: 270px;
    height: 318px;
    background: #EAF6FF;
    border-radius: 6px;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

.dentist-list__img:hover{
 transform: scale(1.1);
}

.dentist-btn{
    margin-top: 38px;
}

.dentist-list{
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.dentist-list__name{
    color: #10375C;
text-align: center;
font-size: 16px;
margin-top: 12px;
font-weight: 400;
line-height: 28px; /* 175% */
}

.dentist-list__school{
    color: #575F66;
    text-align: center;
    font-family: Sora;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 185.714% */
}

.dentist__btn{
    margin-top: 38px;
    justify-content: center;
}

/* ===================install============== */
.install__inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
    height: 427px;
    border-radius: 4px;
    background: #2E80CE;
    margin: 180px 0 85px;
}

.install__img{
position: absolute;
bottom: 0;
}

.install__content{
    min-width: 586px;
}

.install__heading{
    max-width: 489px;
    color: #fff;
}

.install__row{
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
    align-items: center;
}

.install__desc{
    margin-top: 18px;
    max-width: 586px;
    color: #FFF;
font-size: 1.8rem;
font-weight: 300;
line-height: 1.67; /* 166.667% */
}

.install__btn-img:hover{
    box-shadow: 0px  0px 11px 0px rgba(0,0,0,0.1);
    transform: scale(1.1);
    transition: 0.25s;
}
/* ==================blog================ */
.blog{
    padding: 85px 0;
}

.blog__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__content{
    width: 40%;
}

.blog-item__thumb{
    width: 270px;
height: 172px;
border-radius: 12px 12px 0px 0px;
object-fit: cover;
}

.blog__heading{
    max-width: 470ox;
}

.blog__more{
    display: inline-block;
    margin-top: 28px;
    color: #10375C;
    text-underline-offset: 5px;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.56; /* 155.556% */
text-decoration-line: underline;
}

.blog__btn{
    margin-top: 28px;
    justify-content: flex-start;
}

.blog__list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
}

.blog-item__heading{
    width: 224px;
    color: #10375C;
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 162.5% */
}

.blog-item__body{
    padding: 18px 22px;
    border: 2px;
}

.blog-item{
    max-width: 270px;
    transition: 0.25s;
    border-radius: 12px;
    border: 1px solid #EFF6FD;
   
}

.blog-item:hover{
    box-shadow: -23px 11px 11px 0px rgba(0,0,0,0.1);
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #EFF6FD;
}

.blog-item__desc{
    width: 226px;
    margin-top: 10px;
    color: #575F66;
font-size: 14px;
font-weight: 300;
line-height: 24px; /* 171.429% */
}

.blog-item__more{
    display: inline-block;
    color: #10375C;
    margin-top: 12px;
font-size: 14px;
font-weight: 400;
}

/* =======================cta==================== */

.cta{
    background: #F6FBFF;
}

.cta-container{
    padding: 100px 180px;
     text-align: center;
     margin-top: 170px;
}

hr{
    width: 136px;
    margin-top: 18px;
height: 2px;
   background: #2E80CE;
}

.cta-desc{
    width: 617px;
    margin: 18px auto 0;
}

.btn-cta{
    margin-top: 34px;
}

/* ===================== footer===================*/
.footer{
    margin-top: 170px;
    padding-top: 100px;
    background: #10375C;
    font-family: "Open Sans", sans-serif;
}

.footer__top{
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 76px;
}

.footer__desc{
    color: #A9B3BB;
font-size: 1.6rem;
margin-top: 21px;
font-weight: 400;
line-height: 1.75; /* 175% */
}

.footer__heading{
    color: #FFF;
font-size: 1.6rem;
font-weight: 600;
line-height: 1.75; /* 175% */
}

.footer__list{
    margin: 20px 0 28px;
}

.footer__limk{
    color: #A9B3BB;
font-size: 1,4;
font-weight: 400;
line-height: 1.86; /* 185.714% */
white-space: nowrap;
}

.footer__item{
    margin-bottom: 10px;
}
.footer__limk:hover{
    text-decoration: underline;
   
}

.footer__social-btn{
   padding: 0 10px;
}

.footer__social{
    margin: 20px 0;
}

.footer-form{
    display: flex;
   gap: 12px;
   margin-top: 10px;
}

.footer-form__input{
    width: 212px;
height: 46px;
border-radius: 4px;
border: 1px solid #406181;
background: #10375C;
color:#fff;
outline: none;

}

.footer__form-submit{
    width: 108px;
height: 46px;
border-radius: 4px;
background: #2E80CE;
cursor: pointer;
color: #FFF;
border: none;
}

.footer-form__input::placeholder{
    color: #9CA8B1;
font-size: 1.4rem;
font-weight: 400;
line-height: 1.86; /* 185.714% */
}

.footer__copyright{
    padding-bottom: 42px;
}

.copy__hr{
    width: 1170px;
height: 1px;
background: #406181;
}

.copy__desc{
    color: #AAB3BA;
text-align: center;
font-size: 1.4rem;
font-weight: 400;
line-height: 1.86; /* 185.714% */
margin: 28px 42px 0;
}